{% extends "headerfooter.html" %}

{% block content %}

            <!-- Modal Search Start -->
            <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content rounded-0">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body d-flex align-items-center">
                            <div class="input-group w-75 mx-auto d-flex">
                                <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                                <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Search End -->


            <!-- Hero Start -->
            <!-- <div class="container-fluid py-5 mb-5 hero-header">
                <div class="container py-5">
                    <div class="row g-5 align-items-center">
                        <div class="col-md-12 col-lg-7">
                            <h4 class="mb-3 text-secondary">100% Organic Foods</h4>
                            <h1 class="mb-5 display-3 text-primary">Organic Veggies & Fruits Foods</h1>
                            <div class="position-relative mx-auto">
                                <input class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill" type="number" placeholder="Search">
                                <button type="submit" class="btn btn-primary border-2 border-secondary py-3 px-4 position-absolute rounded-pill text-white h-100" style="top: 0; right: 25%;">Submit Now</button>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-5">
                            <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active rounded">
                                        <img src="../../static/img/hero-img-1.png" class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
                                        <a href="#" class="btn px-4 py-2 text-white rounded">Fruites</a>
                                    </div>
                                    <div class="carousel-item rounded">
                                        <img src="../../static/img/hero-img-2.jpg" class="img-fluid w-100 h-100 rounded" alt="Second slide">
                                        <a href="#" class="btn px-4 py-2 text-white rounded">Vesitables</a>
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Hero End -->

            <!-- Fruits Shop Start-->
            <div class="container-fluid fruite py-5">
                <div class="container py-5">
                    <div class="tab-class text-center">
                        <div class="row g-4">
                            <div class="col-lg-4 text-start">
                                <h1>Our Products</h1>
                            </div>
                            <div class="col-lg-8 text-end">
                                {% comment %} <ul class="nav nav-pills d-inline-flex text-center mb-5"> {% endcomment %}
                                <ul class="nav nav-pills d-inline-flex text-center mb-5" id="admin_exerciseList">
                                </ul>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane fade show p-0 active">
                                <div class="row g-4">
                                    <div class="col-lg-12">
                                        <div class="row g-4" id="products">                                            
                                        </div> 
                                    </div>
                                </div>              
                            </div>
                        </div>
                    </div>      
                </div>
            </div>
            <!-- Fruits Shop End-->

            <!-- Fact Start -->
            <div class="container-fluid py-5">
                <div class="container">
                    <div class="bg-light p-5 rounded">
                        <div class="row g-4 justify-content-center">
                            <div class="col-md-6 col-lg-6 col-xl-3">
                                <div class="counter bg-white rounded p-5">
                                    <i class="fa fa-users text-secondary"></i>
                                    <h4>satisfied customers</h4>
                                    <h1>1963</h1>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-3">
                                <div class="counter bg-white rounded p-5">
                                    <i class="fa fa-users text-secondary"></i>
                                    <h4>quality of service</h4>
                                    <h1>99%</h1>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-3">
                                <div class="counter bg-white rounded p-5">
                                    <i class="fa fa-users text-secondary"></i>
                                    <h4>quality certificates</h4>
                                    <h1>33</h1>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-3">
                                <div class="counter bg-white rounded p-5">
                                    <i class="fa fa-users text-secondary"></i>
                                    <h4>Available Products</h4>
                                    <h1 id="totalProducts"></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        <script>
            console.log("Javscript is called----")
            window.onload = function() {
                console.log("Onload is called----")
                ShowProducts();
                //show_best_seller_product();
                //getthecategary(4)

            };


            function ShowProducts() {
                console.log("Show products is called----")
                var url = "http://127.0.0.1:8000/products";
                let options = {
                    method: "GET",
                };
                let fetchRes = fetch(url, options);
                fetchRes.then(res => {
                    if (!res.ok) {
                        return res.json().then(errorData => {
                            console.error("API request failed:", errorData);
                            throw new Error("Network response was not OK");
                        });
                    }
                    return res.json();  // Return the JSON data promise
                }).then(data => {
                    if (data) {
                        console.log("responce----", data)
                        let tab = " ";
                        for (let d of data) {   
                            console.log("cat image----",d.image)
                            console.log("title is----",d.title)                        
                            tab += `                            
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img src="${d.image}" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                <h4>${d.title}</h4>
                                                <p>${d.description}</p>
                                                <div class="d-flex justify-content-between flex-lg-wrap">
                                                    <p class="text-dark fs-5 fw-bold mb-0">$ ${d.unit_price}</p>`
                                                        if (d.cart_set.length == 0)
                                                        {
                                                            tab +=   ` <a  class="btn border border-secondary rounded-pill px-3 text-primary" onclick="addToCartClicked(${d.id})"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a> `
                                                            
                                                        }
                                                tab +=    `</div>
                                            </div>
                                        </div>
                                    </div>`;
                        }    
                        document.getElementById("products").innerHTML = tab; 
                    } else {
                        console.log("API request failed or did not indicate success.");
                    }
                }).catch(error => {
                    console.error("Error:", error);
                });
            }
            
            function addToCartClicked(pid) {
                const accessToken = localStorage.getItem("AccessToken");
                // Decode the JWT access token using cdn
                const decodedToken = jwtDecode(accessToken);
                const userId = decodedToken.user_id;
                const data = {
                    quantity: '1',
                    product: pid,
                    user: userId,
                };
                
                // Convert the JSON object to a string
                const body = JSON.stringify(data);

                var methodname = "POST";
                var url = `http://127.0.0.1:8000/carts/`;
            
                accesstoken = localStorage.getItem("AccessToken");
            
                let options = {
                    method: methodname,
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + accesstoken,
                    },
                    body: JSON.stringify(data),
                };
                let fetchRes = fetch(url, options);
                fetchRes.then(res => {
                    if (!res.ok) {
                        return res.json().then(errorData => {
                            console.error("API request failed:", errorData);
                            throw new Error("Network response was not OK");
                        });
                    }
                    return res.json();  // Return the JSON data promise
                }).then(data => {
                    if (data) {
                        console.log("responce----", data)
                    } else {
                        console.log("API request failed or did not indicate success.");
                    }
                }).catch(error => {
                    console.error("Error:", error);
                });
            }

            function show_best_seller_product() {
                var methodname = "GET";
                url = "http://127.0.0.1:8000/order/best_seller_product/"
                accesstoken = localStorage.getItem("AccessToken")
                let options = {
                    method: methodname,
                    //body: ,
                    headers: {
                        //'X-CSRFToken': csrfToken,  // Include CSsRF token in headers
                        'Authorization': 'Bearer ' + accesstoken,  // Include the access token in the 'Authorization' header
                    },
                }
                let fetchRes = fetch(url, options);
                fetchRes.then(res => {
                    if (!res.ok) {
                        return res.json().then(errorData => {
                            console.error("API request failed:", errorData);
                            throw new Error("Network response was not OK");
                        });
                    }
                    return res.json();  // Return the JSON data promise
                }).then(data => {
                    if (data) {
                        let tab = " ";
                        for (let d of data) {       
                            console.log("image---",d.product__image)                    
                            tab += `                            
                            <div class="col-lg-6 col-xl-4">
                                <div class="p-4 rounded bg-light">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <img src="http://127.0.0.1:8000/${d.product__image}" class="img-fluid rounded-circle w-100" alt="">
                                        </div>
                                        <div class="col-6">
                                            <a href="#" class="h5">${d.product__title}</a>
                                            <div class="d-flex my-3">
                                                <i class="fas fa-star text-primary"></i>
                                                <i class="fas fa-star text-primary"></i>
                                                <i class="fas fa-star text-primary"></i>
                                                <i class="fas fa-star text-primary"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <h4 class="mb-3">${d.product__price} PKR</h4>
                                            <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>`;
                        }    
                        document.getElementById("best_seller_products").innerHTML = tab; 
                    } 
                    else {
                        console.log("API request failed or did not indicate success.");
                    }
                }).catch(error => {
                    console.error("Error:", error);
                });
            }
            
        </script> 

{% endblock content %}