{% extends "headerfooter.html" %}

{% block content %}

            <!-- Modal Search Start -->
            <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content rounded-0">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body d-flex align-items-center">
                            <div class="input-group w-75 mx-auto d-flex">
                                <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                                <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Search End -->



            <!-- Bestsaler Product Start -->
            <div class="container-fluid pt-5 mt-5">
                <div class="container py-5 mt-5" id='recommended_products_container'>
                    {% comment %} <h1 class="mx-auto mt-5 pt-5">Recommended Products</h1>
                    <div class="row mt-0 align-items-center">
                        <div class="col-auto">
                            <button class="btn btn-primary me-3" id="prevBtn"><i class="fas fa-chevron-left align-middle"></i></button>
                        </div>
                        <div class="col">
                            <div class="d-flex flex-wrap">
                                <!-- Recommended products will be dynamically inserted here -->
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary" id="nextBtn"><i class="fas fa-chevron-right align-middle"></i></button>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
            
            <!-- Fruits Shop Start-->
            <div class="container-fluid fruite pb-5">
                <div class="container py-5">
                    <div class="tab-class text-center">
                        <div class="row g-4">
                            <div class="col-lg-4 text-start">
                                <h1>Our Products</h1>
                            </div>
                            <div class="col-lg-8 text-end">
                                <ul class="nav nav-pills d-inline-flex text-center mb-5" id="admin_exerciseList">
                                </ul>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane fade show p-0 active">
                                <div class="row g-4">
                                    <div class="col-lg-12">
                                        <div class="row g-4" id="products">                                            
                                        </div> 
                                    </div>
                                </div>              
                            </div>
                        </div>
                    </div>      
                </div>
            </div>
            <!-- Fruits Shop End-->

            
        <script>
            const API_BASE_URL = "{{ SITE_URL }}";
            const accessToken = localStorage.getItem("AccessToken");
            let currentIndex = 0;
            window.onload = function() {
                console.log("Onload is called----")
                ShowProducts();
                if(accessToken){
                    show_recomended_products();
                }
                
                //getthecategary(4)

            };
               
            
            function ShowProducts() {
                console.log("Show products is called----")
                
                var url = `${API_BASE_URL}/products/`;
                let options = {
                    method: "GET",
                };
                let fetchRes = fetch(url, options);
                fetchRes.then(res => {
                    if (!res.ok) {
                        return res.json().then(errorData => {
                            console.error("API request failed:", errorData);
                            throw new Error("Network response was not OK");
                        });
                    }
                    return res.json();  // Return the JSON data promise
                }).then(data => {
                    if (data) {
                        console.log("responce----", data)
                        let tab = " ";
                        for (let d of data) {   
                            console.log("cat image----",d.image)
                            console.log("title is----",d.title)
                            let Description = d.description.split(' ').slice(0, 10).join(' ');
                            if (d.description.split(' ').length > 10) {
                                Description += '...';
                            }                        
                            tab += `                            
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="rounded position-relative fruite-item">
                                            <div class="fruite-img">
                                                <img src="${d.image}" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                <h4>${d.title}</h4>
                                                <p style="text-align:justify;">${Description}</p>
                                                <div class="d-flex justify-content-between flex-lg-wrap">
                                                    <p class="text-dark fs-5 fw-bold mb-0">$ ${d.unit_price}</p>`
                                                        if (d.cart_set.length == 0)
                                                        {
                                                            tab +=   ` <a  class="btn border border-secondary rounded-pill px-3 text-primary" onclick="addToCartClicked(${d.id})"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a> `
                                                            
                                                        }
                                                tab +=    `</div>
                                            </div>
                                        </div>
                                    </div>`;
                        }    
                        document.getElementById("products").innerHTML = tab; 
                    } else {
                        console.log("API request failed or did not indicate success.");
                    }
                }).catch(error => {
                    console.error("Error:", error);
                });
            }
            
            function addToCartClicked(pid) {
                // Decode the JWT access token using cdn
                const decodedToken = jwtDecode(accessToken);
                const userId = decodedToken.user_id;
                const data = {
                    quantity: '1',
                    product: pid,
                    user: userId,
                };
                
                // Convert the JSON object to a string
                const body = JSON.stringify(data);

                var methodname = "POST";
                var url = `${API_BASE_URL}/carts/`;
            
                accesstoken = localStorage.getItem("AccessToken");
            
                let options = {
                    method: methodname,
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + accesstoken,
                    },
                    body: JSON.stringify(data),
                };
                let fetchRes = fetch(url, options);
                fetchRes.then(res => {
                    if (!res.ok) {
                        return res.json().then(errorData => {
                            console.error("API request failed:", errorData);
                            throw new Error("Network response was not OK");
                        });
                    }
                    return res.json();  // Return the JSON data promise
                }).then(data => {
                    if (data) {
                        console.log("responce----", data)
                    } else {
                        console.log("API request failed or did not indicate success.");
                    }
                }).catch(error => {
                    console.error("Error:", error);
                });
            }
            
            let products_data = [];
            function render_recommended_products() {
                let tab = `
                    <h1>Recommended Products</h1>
                    <div class="row mt-0 align-items-center">
                        <div class="col-auto">
                            <button class="btn btn-primary me-3" id="prevBtn"><i class="fas fa-chevron-left align-middle"></i></button>
                        </div>
                        <div class="col">
                            <div class="d-flex flex-wrap">`;
                for (let i = currentIndex; i < currentIndex + 3 && i < products_data.length; i++) {
                    const d = products_data[i];
                    tab += `
                        <div class="col-lg-4 m-0">
                            <div class="p-4 rounded bg-light m-lg-2">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <img src="${API_BASE_URL}/media/${d.product__image}" class="img-fluid rounded-circle w-100" alt="">
                                    </div>
                                    <div class="col-6">
                                        <a href="#" class="h5">${d.product__title}</a>
                                        <h4 class="mb-3">${d.product__unit_price}$</h4>
                                        <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>`;
                }
                tab += `
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary" id="nextBtn"><i class="fas fa-chevron-right align-middle"></i></button>
                        </div>
                    </div>`;
                document.getElementById("recommended_products_container").innerHTML = tab;
            
                // Attach event listeners after rendering the buttons
                document.getElementById('prevBtn').addEventListener('click', function() {
                    console.log("BUtton clicked")
                    if (currentIndex > 0) {
                        currentIndex -= 3;
                        render_recommended_products();
                    }
                });
            
                document.getElementById('nextBtn').addEventListener('click', function() {
                    console.log("Next Button clicked", currentIndex)
                    if (currentIndex + 3 < products_data.length) {
                        currentIndex += 3;
                        console.log("Inside Log", currentIndex)
                        render_recommended_products();
                    }
                });
            }
            
            
            
            function show_recomended_products() {
                url = `${API_BASE_URL}/products/order/recommended_product/`
                accesstoken = localStorage.getItem("AccessToken")
                console.log("Access Token is----", accesstoken)
                let options = {
                    method: "GET",
                    headers: {
                        'Authorization': 'Bearer ' + accesstoken,
                    },
                }
                let fetchRes = fetch(url, options);
                fetchRes.then(res => {
                    if (!res.ok) {
                        return res.json().then(errorData => {
                            console.error("API request failed:", errorData);
                        });
                    }
                    return res.json();  // Return the JSON data promise
                }).then(data => {
                    products_data = data;
                    if (products_data) {
                        console.log("Data is---",products_data)
                        render_recommended_products()
                        } else {
                        console.log("API request failed or did not indicate success.");
                    }
                }).catch(error => {
                    console.error("Error:", error);
                });
            }

            
        </script> 

{% endblock content %}